<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>
  <header>
    <a href="{{ "/" | relative_url }}">{{ site.title }}</a>
  </header>

  <main id="app">
    {{ content }}
  </main>

  <footer>© {{ site.title }}</footer>
</body>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</html>
